.alert-card {
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 600px; /* Adjust width as needed */
  }
  
  .alert-heading {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    align-items: left;
    justify-content: flex-start;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .chart-icon {
    font-size: 40px; /* Adjust icon size as needed */
    color: #333;
    align-items: center;
  }
  
  .no-data-text {
    font-size: 14px;
    color: #888;
    text-align: center;
  }
  